{% extends 'ParentBundle::base.html.twig' %}
{% block body %}

<div class="col-md-12 agile-calendar">
            <div class="calendar-widget">
                <div class="panel-heading ui-sortable-handle" style="background: #fc3158;">
                    <span class="panel-icon">
                        <i class="fa fa-home "></i>
                    </span>
                    <span class="panel-title"><STRONG >Accueil  </STRONG></span>
                </div>
                <!-- grids -->
                    
            </div>
        </div>


{% endblock %}

 {% block javascripts %}
  {{parent()}}

   {% endblock %} 